.bg-black {
    background-color: black;
}

.btn-cool-blues {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-rounded {
    border-radius: 35px;
}

.btnsignin {
    position: relative;
    left: 950px;
    width: 150px;
}

.btnsignup {
    position: relative;
    width: 150px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #e3e6ec;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box label {
    display: block;
}


/* The old "center div vertically" hack */

.credit-card-box .display-table {
    display: table;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}


/* Just looks nicer */

.credit-card-box .panel-heading img {
    min-width: 180px;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 19px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}

.product-count .qtyminus {
    line-height: 32px;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
    border: none;
}

.count-inlineflex {
    display: inline-flex;
    border: solid 2px #ccc;
    border-radius: 20px;
}

.product-grid4,
.product-grid4 .product-image4 {
    position: relative
}

.product-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
    display: block
}

.product-grid4 .product-image4 img {
    width: 100%;
    height: auto
}

.product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
    opacity: 0
}

.product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
    opacity: 1
}

.product-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s
}

.product-grid4 .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.product-grid4 .social li:nth-child(1) {
    transition-delay: .15s
}

.product-grid4 .social li:nth-child(2) {
    transition-delay: .3s
}

.product-grid4 .social li:nth-child(3) {
    transition-delay: .45s
}

.product-grid4:hover .social li {
    opacity: 1
}

.product-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.product-grid4 .social li a:hover {
    color: #fff;
    background: #16a085
}

.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid4 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
    opacity: 1
}

.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.product-grid4:hover .product-new-label {
    opacity: 0
}

.product-grid4 .product-content {
    padding: 25px
}

.product-grid4 .hours-class {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid4 .title a {
    color: #222
}

.product-grid4 .title a:hover {
    color: #16a085
}

.product-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
    .product-grid4 {
        margin-bottom: 30px
    }
}

.container h3 {
    margin: 5%;
}