<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main_style.css">
    <link rel="stylesheet" type="text/css" href="/static/{{style}}.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black py-4">
        <img id="imgLogo" src="/static/img/CCLogo.png" />
        <a class="navbar-brand" href="/">Content Center</a>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <div class="col-md-8">
                <div class="navbar">
                    <div class="searchbar">
                        <input id="searchFull" class="search_input" type="text" name="searchFull" placeholder="Procurar...">
                        <a href="#" id="btnSearch" onclick="this.href='/searchFull/'+document.getElementById('searchFull').value" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
            {{> menu}}
        </div>
        <a href="/goCart"><button type="button" class="btn btn-outline-info cart_icon"><i
                    class="fas fa-shopping-cart"></i></button></a>
    </nav>

    {{{body}}}
    </div>
    <script src="/static/menu.js"></script>
</body>

</html>