<div class="menu-initial">
<h1>Isso é o <strong>Conhecimento</strong>. Sobre o que quer aprender hoje ?</h1>

    <div class="tripple">

        <div class="boximg">
            <img src="/static/img/idiomas_inicio.png" />
            <p>Idiomas</p>
        </div>


        <div class="boximg">
            <img src="/static/img/maquiagem_inicio.jpg" />
            <p>Maquiagem</p>
        </div>

    </div>


    <div class="tripple">
        <div class="boximg">
            <img src="/static/img/culinaria_inicio.jpg" />
            <p>Culinaria</p>
        </div>

        <div class="boximg">
            <img src="/static/img/musica_inicio.jpg" />
            <p>Música</p>
        </div>
    </div>

    <div class="tripple">
        <div class="boximg">
            <img src="/static/img/tecnologia_inicio.png" />
            <p>Tecnologia</p>
        </div>

        <div class="boximg">
            <img src="/static/img/psicologia_inicio.jpg" />
            <p>Psicologia</p>
        </div>


        <div class="boximg">
            <img src="/static/img/desenho_inicio.jpg" />
            <p>Arte e Desenho</p>
        </div>


        <div class="socialmedia">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-tumblr"></i></a>
        </div>

</div>
