<div id="center">
    <img class="imgError" src="/static/img/error.png">
    <div class="texto">
        <p class="erro">Algo deu errado</p>
        <p class="sorry">Desculpe-nos. Mas parece que temos um problema.</p>
        <p class="menu-principal">Quer tentar novamente ? </p>
        <a href="/"><button type="button" class="btn btn-warning btn-circle btn-xl"><i
                    class="fas fa-undo-alt"></i></button></a>
    </div>
</div>