{{#if flash}}
{{#if (equals flash.type "error-field")}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Oops! Os campos não estão preenchidos.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
{{#if (equals flash.type "error-login")}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    E-mail e/ou senha incorretos.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
{{#if (equals flash.type "update-pass")}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    Sua senha foi alterada com sucesso.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
{{/if}}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Faça o login</h3>
                <div class="d-flex justify-content-end social_icon">
                    <a href="https://www.facebook.com/"><span><i class="fab fa-facebook-square social_icon_facebook"></i></span></a>
                    <a href="https://aboutme.google.com/u/0/?referer=gplus"><span><i class="fab fa-google-plus-square social_icon_google"></i></span></a>
                    <a href="https://twitter.com/"><span><i class="fab fa-twitter-square social_icon_twitter"></i></span></a>
                </div>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="email" class="form-control" placeholder="e-mail" minlength="8" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Ainda não tem comprar ?<a href="/register">Registre-se</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/forgotpass">Esqueceu sua senha ?</a>
                </div>
            </div>
        </div>
    </div>
</div>