<div id="center">
    <img src="/static/img/not_found.jpg">
    <p class="erro">404</p>
    <p class="sorry">Desculpe-nos. Não encontramos essa página.</p>
    <p class="menu-principal">Quer voltar para o menu principal ? </p>
    <a href="/"><button type="button" class="btn btn-success btn-circle btn-xl"><i class="fas fa-home"></i></button></a>
</div>