<div class="container">
        <h3 class="pag-title">CURSOS</h3>
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="/static/img/curso_ingles.jpg" /></div>
                            <div class="tab-pane" id="pic-2"><img src="/static/img/curso_ingles.jpg" /></div>
                            <div class="tab-pane" id="pic-3"><img src="/static/img/curso_ingles.jpg" /></div>
                            <div class="tab-pane" id="pic-4"><img src="/static/img/curso_ingles.jpg" /></div>
                            <div class="tab-pane" id="pic-5"><img src="/static/img/curso_ingles.jpg" /></div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">Curso de Inglês</h3>
                        <div class="rating">
                            <span class="review-no">41 comentários</span>
                        </div>
                        <p class="product-description">Conquistar a fluência no inglês é o sonho de toda pessoa que quer conseguir melhores oportunidades no mercado de trabalho ou que quer apenas se comunicar em outro país com eficiência. A rotina e a falta de tempo e dinheiro muitas
                            vezes impedem o estudo de uma língua estrangeira, fazendo com que os planos de aprender inglês fiquem sempre para depois. O que acha então de aprender on-line ?.</p>
                        <h4 class="price">Preço: <span>R$26</span></h4>
                        <div class="action">
                            <button type="submit" class="round-black-btn" id="btn-cart">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>