<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card-register">
			<div class="card-header">
				<h3>Cadastre-se</h3>
			</div>
			<div class="card-body">
				<form  class="form-group" action="singin.html">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="nome">
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="e-mail">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="senha">
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="confirmar senha">
					</div>
						<input type="submit" value="Cancelar" class="btn float-left resend_btn"  formaction="main.html" formmethod="get">
						<input type="submit" value="Enviar" class="btn float-right resend_btn">
				</form>
			</div>
			
		</div>
	</div>
</div>