<div id="hdr">
    <div id="page_title">
        Content Center - Aluno </div>
</div>

<div id="corpo">

    <div id="menu">
        <div class="btnMenu" id="btnPerfil"><a class="btn_frame" href="/perfil" target="telaframe">Perfil</a>
        </div><br>
        <div class="btnMenu" id="btnprofCursos"><a class="btn_frame" href="/cursos" target="telaframe">Meus
                Cursos</a>
        </div><br>
        <div class="btnMenu" id="duvidas"><a class="btn_frame" href="/anotacoes" target="telaframe">Anotações</a>
        </div><br>

    </div>
    <iframe id="frame_acc" frameBorder="0" scrolling="no" name="telaframe" src="/perfil" width="1300px"
        height="800px"></iframe>
</div>

<div id="ftr"></div>

