  <div id="hdr">
        <div id="page_title">
            Content Center - Professor </div>
    </div>    
    <div id="corpo">

        <div id="menu">
            <div class="btnMenu" id="btnPerfil" ><a class="btn_frame" href="/perfil" target="telaframe">Perfil</a>
            </div><br>
            <div class="btnMenu" id="btnprofCursos"><a class="btn_frame" href="/editaCursos" target="telaframe">Editar Curso</a>
            </div><br>
            <div class="btnMenu" id="btnAddCurso"><a class="btn_frame" href="/adCurso" target="telaframe">Adicionar Curso</a>
            </div><br>
            <div class="btnMenu" id="duvidas"><a class="btn_frame" href="/duvidas" target="telaframe">Dúvidas</a>
                        </div><br>

        </div>
        
     <iframe id="frame_acc" scrolling="no" name="telaframe" src="/perfil" width="1300px" height="800px"></iframe>
    </div>

    <div id="ftr"></div>