@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* header */

body {
    background: url('/static/img/quadroNegro.jpg');
}

#hdr {
    min-height: 100px;
}

#page_title {
    width: auto;
    height: 90px;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}


/* main----------------------------------- */

#corpo {
    background-color: rgba(100, 100, 100, 0.5);
    width: auto;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: static;
    font-size: 0px;
}

#menu {
    color: white;
    height: auto;
    width: 150px;
    min-width: 100px;
    min-height: 400px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-right: 160px;
    float: left;
    font-size: 15px;
}

.btnMenu {
    background-color: black;
    border-radius: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    padding: 3px;
    font-size: 14px;
    height: auto;
    width: 150px;
    margin-left: 160px;
    display: inline-grid;
}

.btnMenu:hover {
    background-color: white;
}

.btn_frame {
    color: white;
}

.btn_frame:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 1);
}

#menu :link {
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
}

#frame_acc {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    background-color: red;
    position: relative;
    left: 3px;
    width: 800px;
    left: 20px;
    top: 30px;
    height: 85%;
    font-size: 20px;
    float: left;
    display: inline;
    margin-left: 150px;
}


/* footer---------------------------------- */

#ftr {
    position: relative;
    border-top: 1px solid black;
    height: 100px;
    width: auto;
}

h5 {
    color: rgba(0, 0, 0, 0);
}

h5 a {
    background-color: #FFC312;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 30px;
    padding: 2px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
}

h5 a:hover {
    height: auto;
    color: white;
}